navbar {
    height: 10vh;
}

.invert-color {
    filter: invert(1);
}

.footer-copyright {
    padding-top: 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7em;
}

.hero-image {
    min-width: 100vw;
    min-height: 90vh;
    background-image: url("/static/assets/homepage-hero.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.jumbotron {
    background-color: rgba(224, 224, 224, 0.795);
}

form {
    padding: 3em;
}