{% extends "base.html" %} 
{% block content %} 
{% for meal in meals %} 

<div class="meal-card">
  <h3>{{ meal.title }}</h3>

  {% if meal not in request.user.my_meals.meals.all %}
  <form action="{% url 'user_pin' meal_id=meal.id %}" method="post">
    {% csrf_token %}   
     <button type="submit" name='pin_submit' >Pin</button>
     </form>


  {% else %}

  <form action="{% url 'user_unpin' meal_id=meal.id %}" method="post">
    {% csrf_token %}   
     <button type="submit" name='pin_unsubmit' >Unpin</button>
     </form>


  {% endif %}
</div>

{% empty %}

<p>Sorry, no meals exist</p>

{% endfor %} {% endblock %}
