<h3>{{ meal.title }}</h3>
<h4 class="mb-2 text-muted">{{ meal.get_meal_type_display }}</h4>
<ul>
  <li><strong>Preparation time:</strong> {{ meal.preptime_in_minutes }} minutes</li>
  <li><strong>Calories:</strong> {{ meal.calories_in_grams }} Kcal</li>
  <li><strong>Protein:</strong> {{ meal.protein_in_grams }} grams</li>
  <li><strong>Fat:</strong> {{ meal.fat_in_grams }} grams</li>
  <li><strong>Carbs:</strong> {{ meal.carbs_in_grams }} grams</li>
  <li class="unaligned">{{ meal.recipe|safe }}</li>
</ul>
